@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Open+Sans&display=swap');
body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
    background-color: #412F4D;
    font-family: 'Open Sans', sans-serif;
    
}

#title{
    color: #C74337;
    font-family: 'Bungee', cursive;
}

#computer,#vittgiocatore,#vittcomputer,#vincitore{
    color: #EA8D7D;
}
/* Smartphone */
@media (max-width: 576px) { 
    #title{
        font-size: 34px;
        margin: 0px;
    }
    h1{
        
        font-size: 18px;
        padding-bottom: 20px;
    }
    h3{
        font-size: 20px;
        padding-top: 20px;
    }
    #bold{
        font-size: 28px;
        padding-top: 20px;
    }
    h1,h3{
        margin: 10px;
        color: #923324;
    }
    img{
        width: 90px;
    }
    #contenitore{
        display: grid;
        place-items: center;
    }
    
    button {
        width: 100px;
        height: 100px;
        background-color: #412F4D;
      }
  
}

/* Tablet */


/* PC */
@media (min-width: 720px){ 
    #teup{
        padding-bottom: 30px;
    }
    #title{

        font-size: 50px;
    }
    #bold{
        font-size: 50px;
        padding-top: 20px;
    }
    h3{
        font-size: 20px;
    }
    img{
        width: 150px;
    }
    h1,h3{
        margin: 10px;
        color: #923324;
    }
    #contenitore{
        display: grid;
        place-items: center;
    }
    button  {
        
        background-color: #412F4D;

      }
    #sasso {
        background-color: #412F4D;
    }
    
    #forbici {
        background-color: #412F4D;
    }
    
   
 }
